body{
    background-image:  linear-gradient(to bottom, rgba(0,0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./images/background-img.jpg');
    background-position:center;
    background-size:cover;
    height:80vh;
    background-repeat:no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main{
    margin:150px auto 10px auto;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    transition: .5s ease;
}
.main.active{
    filter: blur(15px);
    pointer-events: none;
}
#header{
    display: flex;

}

#header img{
    width:80px;
}
/* button styling */
.start, .exit, .start-game, .new-card{
    width:150px;
    height:6vh;
    border-radius:4px;
}
.exit, .start-game, .new-card{
    background-color: white;
    color:black;
    outline: none;
}
.exit:hover{
    background-color: goldenrod;
    color:white;
    outline: none;
}  
.start-game:hover{
    background-color: goldenrod;
    color:white;
    outline: none;
}
.new-card:hover{
    background-color: goldenrod;
    color:white;
    outline: none;
}

.start{
    background-color: green;
    color:white;
    outline: none;
}

p , #header h1{
    color:white;
}
.info-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.9);
    width: 800px;
    height: 80vh;
    background-color:green;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: .5s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align:center;
    color:white;
}
.info-box.active{
    opacity: 1;
    pointer-events: auto;
    transform:  translate(-50%,-50%) scale(1);
}
.div h1{
    color:goldenrod;
}
#message{
    color: red;
}